<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Add your CSS stylesheets or external CSS links here -->

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            color: #333;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
        }

        button {
            padding: 10px;
            cursor: pointer;
        }

        main {
            flex: 1;
            padding: 20px;
        }

        span {
            color: green;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>

<body>

    <header>
        <!-- Add your header content here -->
        <h1>Welcome to Our Dashboard Page</h1>
        <form name="logout" action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </header>

    <main>
        <!-- Add your main content here -->
        <p>This is a simple landing page created using EJS.</p>
        <p>Something from the server: <span>
                <%= serverVariable %>
            </span></p>
    </main>

    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2024 Session And Cookies. All rights reserved.</p>
    </footer>

    <!-- Add your JavaScript scripts or external JavaScript links here -->

</body>

</html>